
__MACOSX/qr-code-component-figma/._qr-code-component.fig
__MACOSX/qr-code-component-figma/._README.md
__MACOSX/qr-code-component-sketch/._qr-code-component.sketch
__MACOSX/qr-code-component-sketch/._README.md
qr-code-component-figma/qr-code-component.fig
qr-code-component-figma/README.md
qr-code-component-sketch/qr-code-component.sketch
qr-code-component-sketch/README.md
